
.btn-primary {

}

.btn-primary:hover {

}

/* ─── BOUTON 2 : Secondaire ─── */
.btn-secodnary {

}

.btn-secondary:hover {
   
}

/* ─── BOUTON 3 : Danger ─── */
.btn-danger {

}

.btn-danger:hover {
    
}